Call Number,Title,Copyright year,Last checkout date,Number checkouts
[% FOREACH r IN results_loop %]"[% r.callnumber %]","[% r.title %]","[% r.biblio.copyrightdate %]","[% r.lastcheckout %]","[% r.checkouts %]"
[% END %]
